html, body, .grid-container { height: 100%; margin: 0; }

.grid-container * { 
 border: 1px solid red;
 position: relative;
}

.grid-container *:after { 
 content:attr(class);
 position: absolute;
 top: 0;
 left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 300px 1fr 100px;
  grid-template-areas: "header header header" "slogan slogan slogan" "main main main" "footer footer footer";
}

.slogan { grid-area: slogan; }

.main { grid-area: main; }

.footer { grid-area: footer; }

.header {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo navi";
  grid-area: header;
}

.logo { grid-area: logo; }

.navi { grid-area: navi; }




/*    ---------- Grid END ----------    */

/* Typography imported from Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Source+Sans+Pro:200,400');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

p, a {
  font-family: 'Source Sans Pro', sans-serif;
}

/* Generic styles */
html {
  scroll-behavior: smooth;
}

a {
  background-color: goldenrod;
  text-decoration: none;
  color: white;
  border-radius: .25rem;
  text-align: center;
  display: inline-block;
  transition: all .3s;
}

a:hover {
  opacity: .6;
}

/*    ---------   -----------    */
